/* This is the CSS code for the Excursion project. */
* {
  background-color: black;
  text-align: center;
}
h1 {
  font-family: Verdana;
  font-size: 50px;
  font-weight: normal;
  text-align: centered;
  color: White;
}
h2 {
  font-family: Verdana;
  font-size: 42px;
  font-weight: 300;
  color: white;
 }
 p {
   font-family: verdana;
   font-size: 21px;
   color: gray;
 }
 .footer {
   font-size: 21px;
   text-align: right;
   color: gray;
 }
